# regex for detecting tags that can safely be removed
remove_tag = "(.*:)?source(:.*)?|(.*:)?note(:.*)?|url|created_by|fixme|wikipedia";

# approximate number of IDs (optimization for first pass, relevant for large source files)
# HD
#nodes_reserve = 260000L;
#ways_reserve = 34000L;
#rels_reserve = 1900L;

# KA
#nodes_reserve = 4300000L;
#ways_reserve = 640000L;
#rels_reserve = 26000L;

# BW
nodes_reserve = 16200000L;
ways_reserve = 2420000L;
rels_reserve = 67000L;

# PLANET
#nodes_reserve = 2970000000L;
#ways_reserve = 208000000L;
#rels_reserve = 5200000L;

#debug mode
#debug_output = true;
#debug_no_filter = true;
#debug_no_tag_filter = true;
